*.idea/
*.pyc
*README.html
*__pychache__
*/log/
# KICAD
*.bak
*kicad*bak
*-cache.lib
*-rescue.lib
*-rescue.dcm
*.bck
tags
.hypothesis
*.egg-info
gerber
*.zip
_autosave*
*cache*

# Images
*.jpg
*.svg
*.png

# Documents
*.ods
*.pdf
